html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    width: 120rem;
    margin: 0 auto;
    font-family: Tahoma, sans-serif,Verdana;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-bottom: none;
}
.nav_name{
    font-weight: 700;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    padding: .8rem;
}
.index_nav{
    display: inline-flex;
}
.index_nav_a{
    margin: 0rem .5;
    display: flex;
    align-items: center;
}
#borde_productos{
    border-top: .5rem red solid;
    padding: 0rem 2rem;
}
#borde_contacto{
    border-top: .5rem green solid;
    padding: 0rem 2rem;
}
#borde_nosotros{
    border-top: .5rem violet solid;
    padding: 0rem 2rem;
}
.index_header{
    display: flex;
    background: url(/img/Fondo\ publicitario.jpeg);
    background-position: center;
    padding-top: 8rem;
    padding-bottom: 20rem;
    padding-left: 22rem;
    border: 1px solid black;
    border-bottom: none;
}
.main{
    display: grid;
    grid-template-columns: 20rem 100rem;
}
.main h2{
    padding: 2rem;
}
.main_filtro{
    display: flex;
    flex-direction: column;
    max-height: 40rem;
    position: sticky;
    top: 90px;
}
.main_filtro div{
    padding: 1rem;
}
.main_filtro div:first-child{
    margin-top: 3rem;
}
#contenedor-enviar{
    display: flex;
    justify-content: center;
}
.boton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    cursor: pointer;
    background-color: aqua;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
}
.ultimo_lanzamiento{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 3fr 1fr;
    padding: 3rem;
    column-gap: 2rem;
    border: solid .3rem black;
    background: linear-gradient(70deg, rgba(4,178,244,1) 2%, rgba(242,242,242,1) 67%, rgba(255,255,255,1) 100%, rgba(0,227,245,1) 100%, rgba(255,255,255,1) 100%);
}
#foto{
    grid-row: 1/3;
    display: flex;
}
#foto img{
    width: 100%;
}
.ya{
    grid-row: 2/3;
    background-color: rgb(19, 3, 238);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mas_vendidos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10rem 5rem;
    text-align: center;
}
.mas_vendidos .item{
    border: 1px solid black;
    width: 100%;
}
.mas_vendidos .item:last-child{
    grid-column: 2/4;
    border: none;
    padding: 7rem 0rem;
}
.mas_vendidos picture{
    border: 1px solid black;
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.item img{
    width: 100%;
    height: 100%;
}
.mas_vendidos picture:hover{
    cursor: pointer;
    margin: 0rem 0rem 0rem 0rem;
}
.boton_comprar{
    background-color: rgb(89, 50, 205);
    padding: .9rem;
    color: white;
    border-top: .5rem solid black;
    border-bottom-left-radius:1rem ;
}
.futbol{
    background-color: green;
}
.rugby{
    background-color: red;
}
.tenis{
    background-color: orange;
}
.natacion{
    background-color: aqua;
}
.running{
    background-color: darkcyan;
}
.basket{
    background-color: salmon;
}
.voley{
    background-color: yellow;
}
.precio{
    background-color: goldenrod;
    border: .3rem solid;
    border-radius: .5rem;
    display: inline-flex;
    padding: 1rem;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    font-weight:100;
}
.mapa{
    width: 100%;
    margin: 0 auto;
}
.footer_right{
    margin-bottom: 13rem;
}
.footer_order{
    max-width: 33%;
}
.footer_order div{
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
}
.footer_order div p{
    margin-top: 0rem;
}
.footer>p{
    display: flex;
    align-items: end;
}
/* Generales */
.logo-buscador:hover{
    background-color: yellow;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
#animacion{
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    display: block;
}
#animacion div:first-child{
    max-height: 3rem;
}
#animacion_first{
    animation: girarFrase 4s ease-in-out forwards infinite;
    padding:1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
#animacion_second{
    padding-top: 3rem;
    color: black;
    animation: aparicion 4s linear 3s 1 forwards ;
    width: 100%;
}
#borde_productos:hover{
    animation: colorRojo .2s linear 0s 1 forwards ;
}
#borde_nosotros:hover{
    animation: colorVioleta .2s linear 0s 1 forwards ;
}
#borde_contacto:hover{
    animation: colorVerde .2s linear 0s 1 forwards ;
}
.ya:hover{
    font-weight: 700;
}
.order_mas_producto{
    margin:4rem;
    display: flex;
    justify-content: center;
}
.mas_productos{
    padding: 1rem;
    border: solid .4rem;
    border-radius: 1rem;
}
@keyframes aparicion{
    0%{margin-right: 0rem;
    color: white;}
    25%{margin-right: 2rem;
    color: white;}
    50%{margin-right: 4rem;}
    75%{margin-right: 6rem;}
    100%{margin-left: 0rem;}
}
@keyframes girarFrase{
    0%{margin-left: 10rem;
        margin-bottom: 0rem;}
    50%{margin-left: 0rem;
        margin-right: 10rem;
        margin-bottom: 0rem;
        background-color: rgb(137, 108, 11);}
    100%{margin-left: 10rem;
        background-color: rgb(8, 13, 55);
        margin-bottom: 0rem;
    }
    
}
@keyframes colorRojo{
    20%{background-color: red;
    height: 50%;
    box-sizing: border-box;}
    50%{background-color: red;
    height: 70%;
    box-sizing: border-box;}
    100%{background-color: red;
    height: 100%;
    box-sizing: border-box;}
}
@keyframes colorVerde{
    20%{background-color:green;
    height: 50%;
    box-sizing: border-box;}
    50%{background-color:green;
    height: 70%;
    box-sizing: border-box;}
    100%{background-color:green;
    height: 100%;
    box-sizing: border-box;}
}
@keyframes colorVioleta{
    20%{background-color:violet;
    height: 50%;
    box-sizing: border-box;}
    50%{background-color:violet;
    height: 70%;
    box-sizing: border-box;}
    100%{background-color:violet;
    height: 100%;
    box-sizing: border-box;}
}
.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  /* Media Queries */
@media only screen and (max-width:480px){
    body{
        max-width: 100%;
        font-size: 50%;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .index_nav{
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
    .index_nav_a{
        margin: 0 auto;
        
    }
    .nav_name{
        display: flex;
        justify-content: center;
        padding: .8rem 0rem;

    }
    .index_header{
        display: none;
    }
    .main_filtro{
        display: none;
    }
    .main{
        display: block;
    }
    .ultimo_lanzamiento{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        border: solid .1rem;
        padding: 1rem;
        max-width: 90%;
        margin: 0 auto;
    }
    .main_productos{
        max-width: 100%;
    }
    .main_productos h2{
        padding: 1rem;
        font-size: 1rem;
    }
    #animacion_first{
        grid-row: 1/2;
        margin: 0rem;
        font-size: .5rem;
        padding:.5rem 0.2rem;
    }
    #foto{
        grid-row: 2/3;
        border: solid black .4rem;
        width: 70%;
        margin: 0 auto 2rem auto;
    }
    #animacion_second{
        text-align: center;
        padding-top: 1rem;
    }
    .ya{
        grid-row: 4/5;
        padding: .8rem;
    }
    .mas_vendidos{
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 0 auto;
        font-size: 1rem;
    }
    .item h3{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 1rem;
    }
    .mas_vendidos .item:last-child{
        grid-column: 1/3;
        padding: 1rem 0rem 0rem;
        height: 75%;
        width: 75%;
        margin: 0 auto;
    }
    .mas_vendidos picture{
        margin: .2rem;
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
        border: none;
    }
    .mas_vendidos picture:hover{
        margin:.3rem;
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
    }
    .boton_comprar{
        padding: .2rem;
        border-top: .2rem solid black;
    }
    .precio{
        border: .1rem solid;
        padding: .2rem;
    }

    .order_mas_producto{
        margin:1.5rem;
    }
    .mas_productos{
        border: solid .2rem;
        padding: .6rem;
    }
    .footer{
        display:grid;
        grid-template: 3/1;
        padding:1rem 1rem 0rem 1rem;
    }
    .footer_right div{
        margin-bottom: 0rem;
    }
    .footer_right{
        margin-bottom: 0rem;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1.5fr;
        column-gap: 1rem;
    }
    .footer_right p{
        display: block;
        margin: 0rem;
    }
    .footer>p{
        display: flex;
        justify-content: center;
        padding-top: 0rem;
        margin-top: 0rem;
        margin: 0rem;
    }
    .mapa{
        display:none;
    }
}
@media only screen and (min-width:481px) and (max-width:768px){
    body{
        max-width: 100%;
    }
    .main_filtro{
        display: none;
    }
    .main{
        display: block;
        max-width: 90%;
        margin: 0 auto;
    }
    .ultimo_lanzamiento{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        border: solid .1rem;
        padding: 1rem;
        max-width: 90%;
        margin: 0 auto;
    }
    #animacion_first{
        grid-row: 1/2;
        margin: 0rem;
        font-size: 1rem;
    }
    #foto{
        grid-row: 2/3;
        border: solid black .4rem;
        width: 70%;
        margin: 0 auto 2rem auto;
    }
    #animacion_second{
        text-align: center;
        padding-top: 1rem;
        font-size: 1.4rem;
    }
    .ya{
        grid-row: 4/5;
        padding: .8rem;
    }
    .mas_vendidos{
        grid-template-columns: repeat(3,1fr);
        gap: 4rem 1rem;
    }
    .mas_vendidos .item:last-child{
        grid-column: 2/4;
        border: none;
        padding: 7rem 0rem;
    }
    .mas_vendidos picture{
        margin: 0rem;
    }
    .item{
        padding-bottom: 1rem;
    }
    .mas_vendidos picture:hover{
        margin: 0rem;
    }
    .boton_comprar{
        border-bottom-left-radius:1rem ;
        padding: .2rem;
    }
    .precio{
        margin: 1.5rem;
        padding: .4rem;
    }
    .item h3{
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-size: 1.2rem;
    }
    .order_mas_producto{
        margin:1.5rem;
    }
    .mas_productos{
        border: solid .2rem;
        padding: .6rem;
    }
    .footer{
        display:grid;
        grid-template: 3/1;
        padding:1rem 1rem 0rem 1rem;
    }
    .footer_right div{
        margin-bottom: 0rem;
    }
    .footer_right{
        margin-bottom: 0rem;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1.5fr;
        column-gap: 1rem;
    }
    .footer_right p{
        display: block;
        margin: 0rem;
    }
    .footer>p{
        display: flex;
        justify-content: center;
        padding-top: 0rem;
        margin-top: 0rem;
        margin: 0rem;
    }
    .mapa{
        display:none;
    }
}