html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    width: 120rem;
    margin: 0 auto;
    font-family: Tahoma, sans-serif,Verdana;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-bottom: none;
}
.nav_name{
    font-weight: 700;
    font-size: 2rem;
}
.index_nav_a{
    padding-left: 3rem;
}
.index_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(/img/Fondo\ publicitario.jpeg);
    background-position: center;
    padding-top: 8rem;
    padding-bottom: 20rem;
    border: 1px solid black;
    border-bottom: none;
}
.buscador{
    border-radius: 1rem 0rem 0rem 1rem;
}
.logo-buscador{
    background: url(/img/logo-buscador.svg);
    background-size:cover;
    width: 4rem;
    background-color: white;
    cursor: pointer;
}
.buscador-dimension{
    padding: 1rem;
    border: none;
}
.main{
    display: grid;
    grid-template-columns: 20rem 100rem;

}
.main h2{
    padding: 2rem;
}
.main_filtro{
    display: flex;
    flex-direction: column;
    max-height: 40rem;
    position: sticky;
    top: 10px;
}
.main_filtro div{
    padding: 1rem;
}
.main_filtro div:first-child{
    margin-top: 3rem;
}
#contenedor-enviar{
    display: flex;
    justify-content: center;
}
.boton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    cursor: pointer;
    background-color: aqua;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
}
.ultimo_lanzamiento{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 3fr 1fr;
    padding: 3rem;
    border: solid .3rem black;
}
#foto{
    grid-row: 1/3;
}
.video{
    grid-row: 1/2;
}
.ya{
    grid-row: 2/3;
    background-color: rgb(19, 3, 238);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mas_vendidos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    text-align: center;
}

.mas_vendidos .item{
    border: 1px solid black;
    width: 100%;
}
.mas_vendidos .item:last-child{
    grid-column: 2/4;
    border: none;
    padding: 7rem 0rem;
}
.mas_vendidos picture{
    border: 1px solid black;
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.mas_vendidos picture:hover{
    cursor: pointer;
    margin: 0rem 0rem 4rem 0rem;

}




.footer{
    background-color: black;
    color: white;
}




/* Generales */
.logo-buscador:hover{
    background-color: yellow;
}
.index_nav_a:hover{
    font-weight: 600;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}